<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        /* body {
            padding: 0;
            margin: 0;
        } */

        p {}
    </style>
</head>

<body>
    <p style="text-indent: 2em">目前大多数WAP网页在智能移动终端不能正常浏览，用户体验较差，为了改善用户的浏览体验，本软件对 WAP
        网页进行格式转换，转换为适合手机浏览的格式，使用户有较好的浏览体验，并不提供内容服务。</p>

    <p style="text-indent: 2em">转码后您浏览的页面内容来源于第三方，本软件仅提供索引擎及技术转码服务，不保证被链接内容的安全性、合法性，同时在转码过程中本软件不会对第三方网站内容做任何实质性修改或编辑。
    </p>

    <p style="text-indent: 2em">
        特别提示：在本软件提示中有原始第三方浏览页面的链接，如您希望以原始方式查看网页内容或转码页面存在问题，请您直接点击本软件提示的来源地址“原网页”访问原网站。本软件在此提醒各位用户，本软件不保证被链接内容的安全性、合法性，您可以直接访问第三方网页获取相关的信息内容。
    </p>

    <p style="text-indent: 2em">转码书籍全部免费阅读，只为提供更好的阅读体验，同时宣传书籍让更多读者欣赏。</p>
</body>

</html>
