<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>
        小说阅读器充分尊重和保护权利人的合法权利，应用根据我国相关法律法规的规定，特制定本声明。对于软件中用户上传的作品，用户已承诺拥有完整的著作权或已获得了著作权人的相应授权，其上传行为不侵犯他人著作权或其他权益。如果您认为小说阅读器提供的服务内容或用户上传的作品侵犯了您的合法权利，您有权向小说阅读器提供方发出权利通知，我们将根据中国法律法规和政府规范性文件采取措施，包括但不限于通知内容提供方、删除相关内容或断开、屏蔽相关链接等。<br>
        为了及时有效处理您的投诉，请您详细阅读本声明并依照要求提交权利通知书。 权利人应向小说阅读器提供方提交书面权利通知书，通知书的内容应包括但不限于以下内容：
    </p>

    <p>
        1. 权利人主体信息和相关材料，包括权利人的姓名（名称）、联系方式、地址及营业执照（单位）、身份证（个人）、相关授权证明等证明权利人主体资格的材料；
        <br>
        2. 权利人需提供涉嫌侵权作品在信息网络上的位置、该作品的准确名称以及作者。
        <br>
        3. 构成侵权的初步证明材料。该初步证明材料应包括：（1）权利人拥有权利的权属证明材料，包括但不限于相关有权机构颁发的证书、作品首次公开发表或发行日期证明材料、创作手稿等能证明权利人拥有相关权利的有效权属证明；（2）如为授权取得，权利人还需提供完整的授权文件。（3）被投诉内容构成侵权的证明：包括但不限于被投诉方内容构成对权利人的商标、名誉等合法权益侵犯的有效证明等。
    </p>

    <p>
        本声明中的权利人，指拥有合法权益的原始所有人或经原始所有人合法授权的代理人，包括自然人、法人或其他组织等。权利通知书应当经过权利人签署，如您是依法成立的法人或其他组织，请您在权利通知书上加盖公章。
        为了确保投诉的真实性和有效性，权利人的书面通知书及其他相关证明材料，原则上应提供原件，不能提供原件的，应提供复印件（在复印件上应有权利人的签章），若材料涉外的，应按照法律的规定进行公证转递，并同时提供相应的公证转递材料。

    </p>

</body>

</html>
