<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>
        您在使用本软件之前请务必仔细阅读并理解本声明，您可以选择不使用小说阅读器，但如果您使用小说阅读器，您的使用将被视为对本声明内容的全部认可。
        <br>
        小说阅读器是一款提供网络小说即时更新阅读的工具，为广大小说爱好者提供一种方便快捷舒适的试读体验。致力于最大程度减少读者在自行搜索过程中的毫无意义的时间浪费，通过专业的搜索展示不同网站中的网络小说新章节。当您点击搜索一本书时，小说阅读器将会对该书名以关键词的形式提交到第三方网站或者搜索引擎，第三方网站反馈内容与小说阅读器无关，小说阅读器提供方不承担任何法律责任。第三方搜索引擎结果根据您提交的关键词自动搜索并获得阅读，并不代表我们赞成第三方网站的内容，您应该对使用搜索引擎的搜索结果自行承担风险。我们不做任何形式的保证。
    </p>

    <p>
        小说阅读器会尽最大努力向您提供服务，但对以下情形导致的服务中断或受阻不承担责任：
    </p>

    <p>
        （1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；<br>
        （2）您或本阅读器的电脑软件、系统、硬件和通信线路出现故障；<br>
        （3）您操作不当；<br>
        （4）第三方服务瑕疵；<br>
        （5）政府行政行为；<br>
        （6）您通过非小说阅读器授权的方式使用；<br>
        （7）其他小说阅读器无法控制或合理预见的情形。
    </p>

    <p>
        在使用本阅读器的过程中，可能会遇到网络信息或其他用户行为带来的风险，小说阅读器不对任何信息的真实性、适用性、合法性承担责任，也不对因侵权行为给您造成的损害负责。这些风险包括但不限于：
    </p>

    <p>
        （1）来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息；<br>
        （2）因使用本阅读器，遭受他人误导、欺骗或其他导致或可能导致的任何心理、生理上的伤害以及经济上的损失；<br>
        （3）其他因网络信息或用户行为引起的风险。<br>
        我们建议阅读正版，任何单位或者个人认为通过小说阅读器搜索连接到的第三方网页内容可能涉嫌侵犯其信息网络传播权的，应该及时向我们提供书面权利通知，并提供身份证明、权属证明及详细侵权情况证明，我们在收到上述法律文件后，将会依法尽快断开相关链接内容。
    </p>
</body>

</html>
